{{- $class := .Attributes.class | default "" -}}
{{- $filename := .Attributes.filename | default "" -}}
{{- $base_url := .Attributes.base_url | default "" -}}
{{- $lang := .Attributes.lang | default .Type -}}

{{- $options := .Options | default (dict) -}}

{{- if not (isset $options "linenos") -}}
  {{- $options = merge $options (dict "linenos" "table") -}}
{{- end -}}
{{- if not $filename -}}
  {{- $filename = $lang -}}
{{- end -}}

<div class="hextra-code-block">
  {{- with $filename -}}
    <div class="hextra-code-filename not-prose" dir="auto">{{- . -}}</div>
  {{- end -}}

  {{- if transform.CanHighlight $lang -}}
    {{- highlight .Inner $lang $options -}}
  {{- else -}}
    <pre><code>{{ .Inner }}</code></pre>
  {{- end -}}
</div>
